@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

body {
  font-family: 'Source Sans Pro', sans-serif !important;
}

nav {
   background-color: transparent !important;
  a {
    text-transform: uppercase;
    font-weight: bold;
  }
}

footer {
  i:hover {
    @include transition(all, 0.3s);
    color: $color-blue-dark;
  }
}

a {
	@include transition(all, 0.3s);
}

#intro {
  color: black;
  overflow: hidden;
	background: url("../img/bg.jpg") no-repeat fixed;
  margin-top: -64px;
  @include background-size(cover);
  min-height: calc(100vh) !important;
}

#projeto {
  // background-color: $color-blue;
}

#atividades {
  // background-color: $color-blue;
  // color: white;
}

.transparent-dark {
  background:rgba(0,0,0,0.75);
  min-height: calc(100vh) !important;
}

.pad-l {
  padding-left: 10px;
}

.pad-r {
  padding-right: 10px;
}

.thick {
  font-weight: 700;
}

.full-width {
	min-width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

.full-height {
	min-height: calc(100vh - 64px);
	padding-top: 40px;
}

.color-green {
  color: $color-green;
}

.color-pink {
  color: $color-pink;
}

.color-blue {
  color: $color-blue;
}

.color-yellow{
  color: $color-yellow;
}

.bold {
  font-weight: 700;
  font-size: 1.3em;
}

.images-grid {
  max-width: 200px;
  max-height: 100px;
  margin-bottom: 50px;
}

#caption {
  color: $color-green;
}

p {
  font-size: 1.2em;
}

.chip {
  margin-bottom: 5px;
}

.card-title {
  line-height: 30px !important;
}

.role{
  border-bottom: 2px solid #e0e0e0;
}

.a-hidden {
  h5, p {
    color: black;
  }
  i {
    color: white;
  }
}

.a-hidden:hover {
  i {
    @include transition(all, 0.5s);
    color: $color-blue;
  }
}
