@mixin background-size($size) {
	-webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
	background-size: $size;
}

@mixin transition($type, $time) {
	-webkit-transition: $type $time;
	-moz-transition: $type $time;
	-ms-transition: $type $time;
	-o-transition: $type $time;
	transition: $type $time;
}
